<div class="header">
  <div class="container">
    <ul class="nav">
      <li>About</li>
      <li>Work</li>
      <li>Team</li>
      <li>Contact</li>
    </ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">  
    <div class="main">
      <h1>We are Broadway</h1>
      <a class="btn-primary" href="#">Get started</a>

    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <div class="col">
      <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
      <h2>Design</h2>
      <p>Make your projects look great and interact beautifully.</p>
      <a class="btn-default" href="#">Learn more</a>
    </div>
    <div class="col">
      <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
      <h2>Develop</h2>
      <p>Use modern tools to turn your design into a web site</p>
      <a class="btn-default" href="#">Learn more</a>
    </div>
    <div class="col">
      <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
      <h2>Deploy</h2>
      <p>Use modern tools to turn your design into a web site</p>
      <a class="btn-default" href="#">Learn more</a>
    </div>
  </div>
<div class="clearfix"></div>
</div>

<div class="footer">
  <div class="container">
    <p>&copy; Broadway 2019</p>
  </div>
</div>